@import "normalize.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;

  font-family: "Roboto";

  background: #edf2f7;
}

* {
  margin: 0;
  padding: 0;
}

button,
label {
  cursor: pointer;
}

button {
  border: none;
}

.main_block {
  display: flex;
  /*flex-wrap: nowrap;
  align-items: baseline;*/
  justify-content: space-between;
  /*margin-left: 125px;*/
  max-width: 1032px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
